.DS_Store

# Environment
.env

# Android
samples/CameraAccessAndroid/app/src/main/java/**/Secrets.kt
samples/CameraAccessAndroid/local.properties
samples/CameraAccessAndroid/.gradle/
samples/CameraAccessAndroid/build/
samples/CameraAccessAndroid/app/build/
